header>
<div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/static/images/contributors/slide1.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>Jan-Anuvaad</h1>
              <p class="lead">The crowdsourcing platform to translate audio of elearning videos to regional language.</p>
              <a class="btn btn-large btn-primary" href="#">Learn More</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/images/contributors/slide2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Educational and elearning video translation</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/static/images/contributors/slide3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Collaboration between translators teachers and NGO</h1>
              <p class="lead"></p>
              <a class="btn btn-large btn-primary" href="#">Join Us</a>
            </div>
          </div>
        </div>
        </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->
</header>
 
