<div class="row text-center" ng-controller="HomeController as vm">

<div class="home" ng-if="!account">                                       
<ul id="workerDashboardTabs" class="nav nav-tabs nav-justified">
      <li class=""><a href="#portfolio" data-toggle="tab" aria-expanded="false"><h4>Sponsor Catalog</h4></a></li> 
</ul>
    
    <div class="tab-pane" id="portfolio">  
      <h1></h1> 
      <div class="row">
       <div class="col-sm-4 col-xs-6">
        <div class="panel panel-primary">
            <span class="font-awesome-big-icon fa fa-file-video-o"></span>    
          <div class="panel-body">
            <p class="lead">Single Lesson</p>
            <p>Rs. 1000</p>
            <a class="btn btn-large btn-primary" href="#">Add to cart</a>
          </div>
        </div>
      </div><!--/col-->
       
      <div class="col-sm-4 col-xs-6">
        <div class="panel panel-primary">
            <span class="font-awesome-big-icon fa fa-database"></span>    
          <div class="panel-body">
            <p class="lead">One Subject all lessons</p>
            <p>Rs. 5000</p>
            <a class="btn btn-large btn-primary" href="#">Add to cart</a>
          
          </div>
        </div>
      </div><!--/col-->
      
     <div class="col-sm-4 col-xs-6">
        <div class="panel panel-primary">
            <span class="font-awesome-big-icon fa fa-soundcloud"></span>    
          <div class="panel-body">
            <p class="lead">All lessons per class</p>
            <p>Rs. 10000</p>
            <a class="btn btn-large btn-primary" href="#">Add to cart</a>
       
          </div>
        </div>         
    </div>
    
</div></div>
</div>
</div>
  
<div class="center" ng-if="!account">
        Hello! Login to see your profile!
</div>

 
 
 
 
 
 
