<div class="row text-center" ng-controller="HomeController as vm">
    <div class="row">
        <div class="col-xs-12">
            <div>
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="page-header"><small>Contributors</small></h1>
                    </div>
                </div>
          <div class="col-sm-4 col-xs-6 thumb">
            <a class="contributor-thumb" href="/contributors/ramachandracn">
              <img class="thumbnail img-responsive" src="/static/images/contributors/ramachandracn.jpg" />
              <span>Ramachandra C N</span> 
            </a>
          </div>

         </div>
    </div>
  </div>
</div>




