<div class="col-lg-11">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="/static/images/contributors/nagesh.jpg" alt="">	
		</div>

		<div class="col-md-8">
			  	<h3>Nagesh Javali</h3>
			  	<h5>Solution Architect</h5>
				<br>
<p>I am a solution architect in the telecom/network field by profession, with expertise in the field of design of networking protocols, algorithms and problem solving. Believe in the idea that complex problems [most of the time] have simple solutions. Highly motivated to provide a crowd-sourcing platform for "video translation" that is self-sustaining and affordable. </p>
<p> You can reach out to me through any of the following venues. </p>

<p>
        <a href="https://www.linkedin.com/pub/nagesh-javali/4/729/434">Linkedin.</a>
        <br>
        <a href="https://www.facebook.com/nagesh.javali">Facebook</a>
        <br><br>Contact me at:<i>nagesh.javali@gmail.com</i>
</p>
		</div>
	</div>
</div>
