<div class="col-lg-11">
	<div class="row">
		<div class="col-md-3">
			<img class="img-responsive" src="/static/images/contributors/ramachandracn.jpg" alt="">	
		</div>

		<div class="col-md-8">
			  	<h3>Ramachandra C N</h3>
			  	<h5>Aspiring Phd student and researcher</h5>
				<br>
<p> My name is Ramachandra C N a working professional from Bangalore and an aspiring Phd student. Finished  MS research student at University of Houston HPCtools group in 2012 and working in Bangalore since then. My main motivation is to explore crowdsourcing and its potential for social impact. I am leading this project beginning from preparing the proposal, developing the platform, preparing promotional material. For now I am forming a team of like minded people which includes additional developers, educationalist, NGO representative and business analysts. Once the team is formed, will lead the effort to prepare the complete proposal and pitch it in the main event on Oct 15. If the proposal is selected, I would be leading this project from POC stage to production quality </p>
<p> You can reach out to me through any of the following venues. </p>

<p>
        <a href="https://in.linkedin.com/in/cnrama">Linkedin.</a>
        <br>
        <a href="https://sites.google.com/site/cndotramachandra">Personal website.</a> 
        <br>
        <a href="https://github.com/ramcn">Github.</a>
        <br>
        <a href="https://www.facebook.com/ramachandracn">Facebook</a>
        <br><br>Contact me at:<i>cn.ramachandra@gmail.com</i>
</p>
		</div>
	</div>
</div>
